.menu {
  background: linear-gradient(#410445, #2D0330);
  display: inline-block;
  width: 100%;
  font-family: 'Prompt', sans-serif;
}

#icon {
  width: 8%;
  display: inline;
  float: left;
}

#titulo {
  text-align: center;
  color: #D49A1A;
  font-size: 36px;
  font-family: 'Prompt', sans-serif;
}

.botoes {
  color: white;
  text-align: center;
  font-size: 15.6px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  bottom: 0%;
}

nav li {
  display: inline;
  text-decoration: none;
}

body {
  background: whitesmoke;
  font-family: 'Prompt', sans-serif;
}

#subtitulo {
  text-align: center;
  color: black;
  font-size: 34.4px;
  font-family: 'Prompt', sans-serif;
}

p {
  color: black;
  text-align: center;
  font-size: 16px;
  font-family: 'Prompt', sans-serif;
}

footer {
  text-align: center;
  font-size: 13.6px;
  font-family: 'Prompt', sans-serif;
  bottom: 0;
  padding: 40px;
}

/* definições para a página inicial abaixo*/

.mapa {
  text-align: center;
}

/* definições para a página de áreas de atuação abaixo*/

.atuacao {
  display: inline-block;
  color: black;
  vertical-align: 50%;
  text-align: justify;
  font-size: 19.6px;
  font-family: 'Prompt', sans-serif;
  margin-left: 35%;
  list-style-type: none;
  line-height: 1.5;
  width: 30%;
}

.areas:first-letter {
  font-size: 1.5em;
}

.areas:before {
  content: "🞘 ";
  color: #410445;
}

.areas {
  background: darkgrey;
}

.resumoareas {
  color: black;
  text-align: center;
  font-size: 18px;
  font-family: 'Prompt', sans-serif;
}

/* definições para a página de contato abaixo */
main {
  width: 940px;
  margin: 0 auto;
}


form {
  margin: 40px 0;
}


form label,
form legend,
.prefere {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
  text-align: left;
}


.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 20px;
  width: 50%;
}


.checkbox {
  margin: 20px 0;
}

.enviar {
  width: 20%;
  padding: 15px 0;
  background: #2D0330;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover {
  background: darkgrey;
  transform: scale(1.2);
}